@font-face {
   font-family: 'Legendary';
   src: url('./black_chancery/Legendary\ Runes\ Free\ Trial.ttf');
}
@font-face {
   font-family: 'runes';
   src: url('./black_chancery/AmphibiaRunes-Regular.ttf');
}
@font-face {
   font-family: 'josefin';
   src: url('./black_chancery/JosefinSans-Regular.ttf');
}
@font-face {
   font-family: 'blkchcry';
   src: url('./black_chancery/blkchcry.ttf');
}
body {
   overflow: hidden;
   margin: 0 !important;
   padding: 0 !important;
   background: linear-gradient(13deg,#592ca0 -20%, #291049 40%);
   background-repeat: no-repeat;
   background-size: contain;
   color: white;
}
* {
   -webkit-tap-highlight-color: transparent;  
}