body {
    background-color: rgb(0, 0, 0);
    font-family: 'Signika Negative', sans-serif;
}
.head {
    padding-top: 2vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.549),transparent),url(../images/fundo.png);
    background-size: cover;
    height: 98vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh 18vh;
    grid-template-areas:
    ". navbar ."
    ". perfil ."
    ;
}
.head .navbar {
    width: 50vw;
    border: 0.001px rgba(255, 255, 255, 0.286) double;
    backdrop-filter: blur( 1rem );
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    box-shadow:  2px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 80px;
}
.head .navbar li {
    gap: 5rem;
    display: flex;   
    list-style: none;
}
.head .navbar a {
   display: flex;
   align-items: center;
}
.contacts li {
    display: none;
    list-style: none;
    margin-left: 10px;
}