@font-face {
   font-family: 'Legendary';
   src: url('../../public/black_chancery/Legendary\ Runes\ Free\ Trial.ttf');
}

html {
   margin: 0;
   padding: 0;
   height: 100%;
}
body {
   background: linear-gradient(20deg,#3388FF -50%, #1E1E26 60%);
   background-repeat: no-repeat;
   background-size: contain;
   color: white;
}